<div class="container m-1">
<span class="h5 text-start"> Forms</span>  

<table class="table">
    <thead class="table-primary">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
        <th>Levels</th>
        <th>Status</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>John</td>
        <td>John</td>
      </tr>
   </tbody>
  </table>
</div>
